.accrodation { width: 100%; }
.acc-trigger {cursor: pointer; display: block; margin: 0 0 0 0; width: 100%; background-color: #FAFAFA; border-bottom: dashed  #C6C6C6; 	}
.acc-trigger:last-of-type, .acc-container:last-of-type { margin-bottom: 20px; }
.no-js .acc-trigger:last-of-type { border-bottom: none; }
.acc-trigger a {  background: url(../../images/accordion-ico.png) no-repeat 14px 13px; display: block; padding: 11px 20px 11px 44px; text-decoration: none; text-shadow: none; font-family: 'Open Sans'; font-size: 14px; font-weight: 600; color: #2F7FC2; border: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3;} */
.acc-trigger a:hover { background-position: 14px -140px; }
.acc-trigger a:hover, .acc-trigger.active a, .acc-trigger.active a:hover { border-bottom: 1px solid #fff; }
.acc-trigger.active a:hover { background-color: transparent; }
.acc-trigger.active {  background:#FAFAFA;}
.acc-trigger.active:last-of-type { border-bottom: dashed; margin-bottom: 0; }
.acc-trigger.active a { background-position: 14px -140px; cursor: pointer;	}
.acc-container .content { line-height: 1.3em; padding: 10px 10px 10px 15px;; color: white;  margin-bottom: 5px; background-color: white; color:black;   }

#linespacing
{ line-height: 230%;
color: black;
font: 'Open Sans', sans-serif;}

.showcollapsebuttons{
 
   margin-bottom: 25px;
  margin-top: 15px; 
} 

.button:hover{
  color: #cf2727;
  cursor: pointer;
}

a:hover{
  text-decoration: none;
	color: #cf2727;
 
}